body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    margin-bottom: 5px;
}

button {
    background-color: gray;
    box-shadow: 3px 3px 5px 0px black;
}
.buttonStyle {
    padding: 10px;
    text-align: center;
    display: flex;
    min-width: 50px;
    justify-content: space-between;
}